ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
li {
  display: inline-block;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #414345;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.home-container {
  background-image: linear-gradient(to bottom right, #232526, #414345);
}
.about-container {
  height: 300px;
}
p {
  margin: 8px;
  font-size: 1.5em;
  color: white;
  line-height: 1.563;
  font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
}
.project-container {
  height: 600px;
  position: relative;
}
.separator {
  height: 5px;
  background: white;
}
.project-photo1 {
  margin-top: 70px;
  margin-left: 20px;
}
.project-photo2 {
  margin-top: 10px;
  margin-left: 50px;
}
.photo-shadow {
  box-shadow: -5px 9px 52px -19px #71d6af;
}
.project-text1 {
  position: absolute;
  float: left;
  width: 400px;
  height: 100px;
  margin: 10px;
  bottom: 0;
  left: 50%;
  margin-left: -190px;
  margin-bottom: 400px;
}
.project-text1 p {
  position: absolute;
  border: 1px solid red;
  color: blue;
}
